choice
	prompt "Machine type"
	depends on MACH_JZ4740
	default JZ4740_QI_LB60

config JZ4740_QI_LB60
	bool "Qi Hardware Ben NanoNote"

config JZ4740_A320
	bool "Dingoo A320 game and media player"

endchoice

config HAVE_PWM
	bool
