#
# Miscellaneous I2C chip drivers configuration
#
# *** DEPRECATED! Do not add new entries! See Makefile ***
#

menu "Miscellaneous I2C Chip support"

config DS1682
	tristate "Dallas DS1682 Total Elapsed Time Recorder with Alarm"
	depends on EXPERIMENTAL
	help
	  If you say yes here you get support for Dallas Semiconductor
	  DS1682 Total Elapsed Time Recorder.

	  This driver can also be built as a module.  If so, the module
	  will be called ds1682.

config SENSORS_TSL2550
	tristate "Taos TSL2550 ambient light sensor"
	depends on EXPERIMENTAL
	help
	  If you say yes here you get support for the Taos TSL2550
	  ambient light sensor.

	  This driver can also be built as a module.  If so, the module
	  will be called tsl2550.

config N516_LPC
	tristate "N516 keys & power controller"
	depends on I2C
	depends on INPUT
	depends on POWER_SUPPLY
	help
	  N516 keyboard & power controller driver

config N526_LPC
	tristate "N526 LPC934 coprocessor"
	depends on JZ4740_N526
	help
	  If you say yes here you get support for the N526s NXP LPC934 coprocessor.
	  It is used as a keyboard controllor and for power management.

	  If you have a N526 you probably want to say Y here.

endmenu
